@import '_variables.scss';
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//$icon-font-path: "../bower_components/components-font-awesome/fonts/";
//@import '../bower_components/components-font-awesome/scss/font-awesome.scss';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
	width: 50px;
  }
}

.hand {
  cursor: pointer;
}

#topbar {
  height: 23px !important;
  padding: 0.15em 0em;
  background: $gray-dark;
  line-height: 1.5;
  font-size: 0.85em;
  display: block;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
