<div class="jumbotron">
	<div class="container-fluid">
		<h3>
			{{ctrl.event.name}} <small>{{ctrl.event.date | date}}</small>
		</h3>

		<p>{{ctrl.event.date | date: "yyyy-MM-dd hh:mm"}}</p>


		<div class="col-md-2">
			<input type="text" number-spinner number="ctrl.numberOfGroups">
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-success"  my-item="ctrl.event.organiserId" ng-click="ctrl.startEvent(ctrl.event)">
				<i class="fa fa-flag-checkered"></i> Start <i class="fa fa-flag-checkered"></i>
			</button>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>Groups</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="group in ctrl.groups">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="racer in group.racers">
									{{racer.name}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
