<div class="jumbotron">
	<div class="container-fluid">
		<a class="btn btn-default pull-right" ng-href="#/events/{{ctrl.event.$id}}"><i class="fa fa-reply"></i></a>
		<h3>
			{{ctrl.event.name}}
		</h3>

		<p>{{ctrl.event.date | date: "medium"}}</p>

		<div>
			<label>Number of Groups</label>
			<button class="btn btn-default" my-item="ctrl.event.organiserId" ng-click="ctrl.removeGroup()"><i class="fa fa-minus"></i></button>
			<span style="width: 40px">{{ctrl.numberOfGroups}}</span>
			<button class="btn btn-default" my-item="ctrl.event.organiserId" ng-click="ctrl.addGroup()"><i class="fa fa-plus"></i></button>
		</div>
		<div>
			<button type="button" class="btn btn-success"  my-item="ctrl.event.organiserId" ng-click="ctrl.shuffle()">
				<i class="fa fa-random"></i> Shuffle Racers</i>
			</button>
			<!--<button type="button" class="btn btn-success"  my-item="ctrl.event.organiserId" ng-click="ctrl.startEvent()">-->
				<!--<i class="fa fa-flag-checkered"></i> Start <i class="fa fa-flag-checkered"></i>-->
			<!--</button>-->
		</div>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>Groups</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="group in ctrl.groups track by $index">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{group.name}}
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="racer in group.racers track by $index">
							<span>{{racer.alias}}</span>
							<span class="pull-right">
								<i class="fa fa-check text-success" ng-show="!racer.raceFrequency.error" uib-tooltip="Error allocating frequency"></i>
								<i class="fa fa-exclamation-triangle text-primary" ng-show="racer.raceFrequency.error == 'error'" uib-tooltip="Error allocating frequency"></i>
								<i class="fa fa-exclamation-triangle text-warning" ng-show="racer.raceFrequency.error == 'unknown'" uib-tooltip="No frequencies for racer"></i>
								<i class="fa fa-exclamation-triangle text-danger" ng-show="racer.raceFrequency.error == 'duplicate'" uib-tooltip="Duplicate! Check with other racer"></i>
								{{racer.raceFrequency.frequency}}
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>
