<div class="jumbotron">
	<div class="container-fluid">
		<h3>
			{{ctrl.event.name}}
		</h3>

		<p>{{ctrl.event.date | date: "medium"}}</p>

		<div>
			<label>Number of Groups</label>
			<button class="btn btn-default" my-item="ctrl.event.organiserId" ng-click="ctrl.removeGroup()"><i class="fa fa-minus"></i></button>
			<span style="width: 40px">{{ctrl.numberOfGroups}}</span>
			<button class="btn btn-default" my-item="ctrl.event.organiserId" ng-click="ctrl.addGroup()"><i class="fa fa-plus"></i></button>
		</div>
		<div>
			<button type="button" class="btn btn-success"  my-item="ctrl.event.organiserId" ng-click="ctrl.shuffle()">
				<i class="fa fa-random"></i> Shuffle Racers</i>
			</button>
			<button type="button" class="btn btn-success"  my-item="ctrl.event.organiserId" ng-click="ctrl.startEvent()">
				<i class="fa fa-flag-checkered"></i> Start <i class="fa fa-flag-checkered"></i>
			</button>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>Groups</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="group in ctrl.groups track by $index">
			<div class="panel panel-default">
				<div class="panel-heading">
					{{group.name}}
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="racer in group.racers track by $index">
							{{racer.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>
