<div class="jumbotron">
	<div class="container-fluid">
		<h3>{{ctrl.event.name}} <small>{{ctrl.event.date | date}}</small></h3>
		<div class="row" logged-in>
			<label class="col-md-4">Are you going</label>
			<div class="col-md-6">
				<div class="btn-group">
					<button type="button" class="btn btn-primary" ng-class="{active: ctrl.me != null}" ng-click="ctrl.goingToggle(ctrl.event)">
						<i class="fa fa-check-square" ng-show="ctrl.me != null"></i>
						<i class="fa fa-square" ng-hide="ctrl.me != null"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="row" ng-show="ctrl.me != null && ctrl.eventDate == ctrl.today && !ctrl.me.checkedIn">
			<label class="col-md-4">You are not yet checked in.</label>
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="ctrl.checkIn()">Check In</button>
			</div>
		</div>
		<div class="row" ng-show="ctrl.me != null && ctrl.eventDate == ctrl.today && ctrl.me.checkedIn">
			<label class="col-md-4">You are checked in, welcome, and good luck!</label>
			<div class="col-md-6">
				<button class="btn btn-primary" ng-click="ctrl.checkOut()">Chicken Out</button>
			</div>
		</div>
		<div class="row" ng-show="ctrl.eventDate > ctrl.today">
			<div class="col-md-6">
				<p>Check-ins are not yet open.</p>
			</div>
		</div>
		<div class="row" ng-show="ctrl.eventDate < ctrl.today">
			<div class="col-md-6">
				<p>This event is closed.</p>
			</div>
		</div>
		<div my-item="ctrl.event.organiserId" class="row">
			<div class="col-md-6">
				<a ng-href="#/events/edit/{{ctrl.event.$id}}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>Attending Racers</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="racer in ctrl.evRacers">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="pull-left">{{racer.name}} <i ng-show="racer.checkedIn" class="text-success fa fa-check"></i><i ng-hide="racer.checkedIn" class="text-danger fa fa-times"></i></h4>
							<img class="pull-right" style="width: 50px; height: 50px;" ng-src="{{racer.avatar}}">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
