<div class="jumbotron">
	<div class="container-fluid">
		<h3>{{ctrl.event.name}} <small>{{ctrl.event.date | date}}</small></h3>
		<div>
			<label class="">Are you going</label>
			<div class="btn-group">
				<button class="btn btn-primary" ng-class="{active: ctrl.me != null}" ng-click="ctrl.going()">Yes</button>
				<button class="btn btn-primary" ng-class="{active: ctrl.me == null}" ng-click="ctrl.notGoing()">No</button>
			</div>
		</div>
		<div ng-show="ctrl.me != null && ctrl.eventDate == ctrl.today && !ctrl.me.checkedIn">
			<label class="">You are not yet checked in.</label>
			<button class="btn btn-primary" ng-click="ctrl.checkIn()">Check In</button>
		</div>
		<div ng-show="ctrl.me != null && ctrl.eventDate == ctrl.today && ctrl.me.checkedIn">
			<label class="">You are checked in, welcome, and good luck!</label>
			<button class="btn btn-primary" ng-click="ctrl.checkOut()">Chicken Out</button>
		</div>
		<div ng-show="ctrl.eventDate > ctrl.today">
			<p>Check-ins are not yet open.</p>
		</div>
		<div ng-show="ctrl.eventDate < ctrl.today">
			<p>This event is closed.</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>Attending Racers</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-md-4" ng-repeat="racer in ctrl.evRacers">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-12">
							<h4 class="pull-left">{{racer.name}} <i ng-show="racer.checkedIn" class="text-success fa fa-check"></i><i ng-hide="racer.checkedIn" class="text-danger fa fa-times"></i></h4>
							<img class="pull-right" style="width: 50px; height: 50px;" ng-src="{{racer.profileImageURL}}">
						</div>
					</div>
				</div>
				<div class="panel-body" ng-show="event.show">
					<ul class="list-group">
						<li class="list-group-item">Date: {{event.date}}</li>
						<li class="list-group-item">Venue: {{event.venue}}</li>
						<li class="list-group-item">Organiser: {{event.organiser.name}}</li>
						<li class="list-group-item">Notes: {{event.notes}}</li>
					</ul>
					<span><a class="btn btn-primary" ng-href="#/event/{{event.$id}}">More</a></span>
				</div>
			</div>
		</div>

	</div>

</div>
