<div class="jumbotron">
	<h1>About
		<small>Get racing today</small>
	</h1>
</div>

<div class="container-fluid">
	<h1>About Race Day FPV</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vehicula lorem nisl, a porta massa consequat sed.
		Nam ullamcorper maximus nunc id convallis. Donec posuere et dolor id egestas. Vestibulum consectetur, erat in
		consectetur pulvinar, nisi mi rutrum nisi, a varius odio erat sit amet sapien. Fusce lacinia augue mauris. Proin
		ornare porttitor fermentum. Donec hendrerit elit nec blandit suscipit. Quisque venenatis sit amet orci sit amet
		eleifend. Ut justo leo, placerat rutrum imperdiet ac, rutrum nec nisi. Nulla volutpat ut massa eget malesuada.
	</p>

	<p>
		Nunc vitae magna at arcu ornare rhoncus et sed mauris. Nunc quis consectetur lorem, quis rhoncus tellus. Duis
		lacus sem, fermentum eu metus nec, volutpat semper lectus. In malesuada eget eros quis maximus. Quisque ipsum
		neque, lacinia sit amet felis id, tincidunt posuere velit. Ut vel mattis tortor, ut blandit odio. Aenean rutrum
		non augue id commodo. Mauris imperdiet turpis dui, sed sollicitudin sem malesuada eget. Vestibulum ante ipsum
		primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc volutpat volutpat leo at convallis.
	</p>

</div>
