<div class="jumbotron">
	<h1>About
		<small>Get racing today</small>
	</h1>
</div>

<div class="container-fluid">
	<h1>About Race Day FPV</h1>
	<p>
		Race Day FPV is a community based app where anyone can create events / race-days.
		Anyone can then join your event and "check-in" on the day confirming your attendance.
	</p>

	<h3>Note:</h3>
	<p>
		This app is still under heavy development and stuff will change.
		If you have any suggestions or improvements or bugs, please let me kow.
	</p>

	<h3>TODO <small>in no particular order</small></h3>
	<ul class="list-group">
		<li class="list-group-item"><label style="text-decoration: line-through">User Management:</label> <span style="text-decoration: line-through">Check and change your details</span> <i class="fa fa-check text-success"></i></li>
		<li class="list-group-item"><label>Aircraft:</label> Show off you rides</li>
		<li class="list-group-item"><label>Teams:</label> Get your buddies together</li>
		<li class="list-group-item"><label style="text-decoration: line-through">Race Groups:</label> <span style="text-decoration: line-through">Do group draws for all the pilots checked in at the race</span> <i class="fa fa-check text-success"></i></li>
		<li class="list-group-item"><label>Race Frequencies:</label> Allocate FPV frequencies to pilots</li>
		<li class="list-group-item"><label>Chat:</label> Real-time chat for events (smack talk) or/and Team talks</li>
		<li class="list-group-item"><label>TELL ME</label></li>
	</ul>

</div>
