<div class="page-header text-center">
	<h1>
		Me <small>My stuff</small>
		<a ng-href="#/me/edit" class="btn btn-default"><i class="fa fa-edit"></i></a>
	</h1>
</div>

<div class="container-fluid">
	<div>
		<h1>My Events</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="event in ctrl.myEvents">
			<event-card event-id="event.$id" ></event-card>
		</div>
	</div>
	<div ng-show="ctrl.eventCount == 0">
		<h3>You have no events... go find some <a ng-href="#/events/upcoming">here</a></h3>
	</div>
</div>

<div class="container-fluid">
	<div>
		<h1>My Aircraft</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="aircraft in ctrl.myAircraft">
			<aircraft></aircraft>
		</div>
	</div>
	<div ng-show="ctrl.aircraftCount == 0">
		<h3>You have no aircraft...</h3>
	</div>
</div>
