<div class="jumbotron text-center">
	<h1>Racers</h1>
	<p class="lead">
		Who is who?
	</p>
</div>

<div class="container">
	the racers
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Bootstrap Examples</h4>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
				<a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
				<a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
			</div>
		</div>
	</div>
</div>
