<!doctype html>
<html class="no-js" ng-app="race-day-fpv">
<head>
	<meta charset="utf-8">
	<title>Race Day FPV</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
	<!-- endbower -->
	<!-- endbuild -->
</head>
<body ng-controller="IndexCtrl as ctrl">
<toast></toast>

<div class="container">

	<nav class="navbar navbar-inverse" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="ctrl.navCollapsed = !ctrl.navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Race Day FPV</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" ng-class="!ctrl.navCollapsed && 'in'" ng-click="ctrl.navCollapsed = true">

			<ul class="nav navbar-nav">
				<li ng-class="{'active':ctrl.active == 'home'}">
					<a ng-href="#/home" ng-click="ctrl.active = 'home'">Home</a>
				</li>
				<li ng-class="{'active':ctrl.active == 'events'}">
					<a ng-href="#/events" ng-click="ctrl.active = 'events'">Events</a>
				</li>
				<li ng-class="{'active':ctrl.active == 'racers'}">
					<a ng-href="#/racers" ng-click="ctrl.active = 'racers'">Racers</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="" ng-show="ctrl.FPVSession.user != null">
						<img style="width: 20px; height: 20px;" ng-src="{{ctrl.FPVSession.user.profileImageURL}}">
					</a>
				</li>
				<li ng-show="ctrl.FPVSession.user == null">
					<a href="" ng-click="ctrl.login('google')"><i style="font-size: 1.5em" class="fa fa-google-plus-square"></i> Google Sign-In</a>
				</li>
				<li ng-show="ctrl.FPVSession.user == null">
					<a href="" ng-click="ctrl.login('facebook')"><i style="font-size: 1.5em" class="fa fa-facebook-official"></i> Facebook Sign-In</a>
				</li>
				<li ng-show="ctrl.FPVSession.user != null">
					<a href="" ng-click="ctrl.logout()"><i class="fa fa-sign-out" tooltip="Log Out"></i></a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div ng-view></div>

	<div class="footer">
		<p class="pull-right">For the racers by the racers</p>
	</div>

</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
	(function (b, o, i, l, e, r) {
		b.GoogleAnalyticsObject = l;
		b[l] || (b[l] =
				function () {
					(b[l].q = b[l].q || []).push(arguments)
				});
		b[l].l = +new Date;
		e = o.createElement(i);
		r = o.getElementsByTagName(i)[0];
		e.src = '//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e, r)
	}(window, document, 'script', 'ga'));
	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ngToast/dist/ngToast.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/race-day-fpv.js"></script>
<script src="scripts/index-ctrl.js"></script>
<script src="scripts/service/user-service.js"></script>
<script src="scripts/service/event-service.js"></script>
<script src="scripts/service/session-service.js"></script>
<script src="scripts/service/auth-service.js"></script>
<!--<script src="scripts/service/event.js"></script>-->
<!--<script src="scripts/service/user.js"></script>-->
<script src="scripts/directive/event-card.js"></script>
<script src="scripts/controller/home-ctrl.js"></script>
<script src="scripts/controller/events-ctrl.js"></script>
<script src="scripts/controller/event-add-ctrl.js"></script>
<script src="scripts/controller/event-ctrl.js"></script>
<script src="scripts/controller/racers-ctrl.js"></script>
<!-- endbuild -->

</body>
</html>
