<!doctype html>
<html class="no-js" ng-app="race-day-fpv">
<head>
	<meta charset="utf-8">
	<title>Race Day FPV</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="../.tmp/styles/main.css">
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.css" />
	<!-- endbower -->
	<!-- endbuild -->
</head>
<body ng-controller="IndexCtrl as ctrl">
<toast></toast>

<div style="position: relative; height: 90px" class="hidden-xs"></div>
<div style="position: relative; height: 65px" class="visible-xs"></div>

<div class="navbar-inverse navbar-fixed-top" role="navigation">

	<div id="topbar" class="hidden-xs">
		<div class="container">
			<ul class="pull-right list-inline">
				<li logged-in="false">
					<a href ng-click="ctrl.login('google')"><i class="fa fa-google-plus-square"></i> Google Sign-In</a>
				</li>
				<li logged-in="false">
					<a href ng-click="ctrl.login('facebook')"><i class="fa fa-facebook-official"></i> Facebook Sign-In</a>
				</li>
				<li logged-in>
					<a href ng-click="ctrl.logout()"><i class="fa fa-sign-out"></i> Sign Out</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="navbar" style="margin-bottom: 0">
		<div class="container">

			<div class="navbar-header text-nowrap">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ng-href="#/me/events"><img class="logo " width="250px" height="53px" src="images/logo_light.png" alt="Race Day FPV"></a>
			</div>

			<div class="navbar-collapse collapse">

				<div class="hidden-xs">
					<ul class="nav navbar-nav pull-right">
						<li logged-in>
							<a href class="dropdown-toggle" data-toggle="dropdown" >
								<img style="width: 20px; height: 20px;" ng-src="{{ctrl.FPVSession.pilot.avatar}}">
								<span>Me</span> <b class="fa fa-caret-down"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a ng-href="#/me/events"><span>My Events</span></a></li>
								<li><a ng-href="#/me/frequencies"><span>My Frequencies</span></a></li>
								<li><a ng-href="#/me/edit"><span>My Profile</span></a></li>
							</ul>
						</li>
						<li><a ng-href="#/" data-target=".navbar-collapse"><span>About</span></a></li>
						<li class="dropdown">
							<a href class="dropdown-toggle" data-toggle="dropdown">Events <b class="fa fa-caret-down"></b></a>
							<ul class="dropdown-menu">
								<li><a ng-href="#/events/upcoming"><span>Upcoming Events</span></a></li>
								<li><a ng-href="#/events/past"><span>Past Events</span></a></li>
								<li logged-in><a ng-href="#/events/add"><i class="fa fa-plus"></i> New Event</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href class="dropdown-toggle" data-toggle="dropdown">Pilots <b class="fa fa-caret-down"></b></a>
							<ul class="dropdown-menu">
								<li><a ng-href="#/pilots"><span><i class="fa fa-fw fa-user"></i> Pilots</span></a></li>
								<li><a ng-href="#/pilots"><span><i class="fa fa-fw fa-users"></i> Teams</span></a></li>
								<li><a ng-href="#/pilots"><span><i class="fa fa-fw fa-plane"></i> Aircraft</span></a></li>
							</ul>
						</li>
						<li logged-in>
							<a ng-href="#/manage" ><i class="fa fa-wrench"></i> Manage</a>
						</li>
					</ul>
				</div><!-- Desktop User Buttons -->

				<div class="visible-xs">
					<ul class="nav navbar-nav text-center">
						<li logged-in>
							<a href class="dropdown-toggle" data-toggle="dropdown" >
								<img style="width: 20px; height: 20px;" ng-src="{{ctrl.FPVSession.pilot.avatar}}">
								<span>Me</span> <b class="fa fa-caret-down"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a ng-href="#/me/events"><span>My Events</span></a></li>
								<li><a ng-href="#/me/frequencies"><span>My Frequencies</span></a></li>
								<li><a ng-href="#/me/edit"><span>My Profile</span></a></li>
							</ul>
						</li>
						<li><a ng-href="#/" data-toggle="collapse" data-target=".navbar-collapse"><span>About</span></a></li>
						<li class="dropdown"><a href class="dropdown-toggle" data-toggle="dropdown">Events <b class="fa fa-caret-down"></b></a>
							<ul class="dropdown-menu text-center">
								<li><a ng-href="#/events/upcoming" data-toggle="collapse" data-target=".navbar-collapse"><span>Upcoming Events</span></a></li>
								<li><a ng-href="#/events/past" data-toggle="collapse" data-target=".navbar-collapse"><span>Past Events</span></a></li>
								<li logged-in><a ng-href="#/events/add" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-plus"></i> New Event</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href class="dropdown-toggle" data-toggle="dropdown">Pilots <b class="fa fa-caret-down"></b></a>
							<ul class="dropdown-menu text-center">
								<li><a ng-href="#/pilots" data-toggle="collapse" data-target=".navbar-collapse"><span><i class="fa fa-fw fa-user"></i> Pilots</span></a></li>
								<li><a ng-href="#/pilots" data-toggle="collapse" data-target=".navbar-collapse"><span><i class="fa fa-fw fa-users"></i> Teams</span></a></li>
								<li><a ng-href="#/pilots" data-toggle="collapse" data-target=".navbar-collapse"><span><i class="fa fa-fw fa-plane"></i> Aircraft</span></a></li>
							</ul>
						</li>
						<li logged-in>
							<a ng-href="#/manage" ><i class="fa fa-wrench"></i> Manage</a>
						</li>
						<li logged-in="false">
							<a href data-toggle="collapse" data-target=".navbar-collapse" ng-click="ctrl.login('google')"><i class="fa fa-google-plus-square"></i> Google Sign-In</a>
						</li>
						<li logged-in="false">
							<a href data-toggle="collapse" data-target=".navbar-collapse" ng-click="ctrl.login('facebook')"><i class="fa fa-facebook-official"></i> Facebook Sign-In</a>
						</li>
						<li logged-in>
							<a href data-toggle="collapse" data-target=".navbar-collapse" ng-click="ctrl.logout()"><i class="fa fa-sign-out"></i> Sign Out</a>
						</li>
					</ul>
				</div><!-- Mobile User Buttons -->

			</div><!--/.navbar-collapse -->
		</div>

	</div>
</div>

<div class="container-fluid" style="position: relative">

	<div class="container" ng-view></div>

</div>

<div class="container-fluid footer" style="position: relative">
	<p class="pull-right">For the racers by the racers</p>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
	(function (b, o, i, l, e, r) {
		b.GoogleAnalyticsObject = l;
		b[l] || (b[l] =
				function () {
					(b[l].q = b[l].q || []).push(arguments)
				});
		b[l].l = +new Date;
		e = o.createElement(i);
		r = o.getElementsByTagName(i)[0];
		e.src = '//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e, r)
	}(window, document, 'script', 'ga'));
	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/ngToast/dist/ngToast.js"></script>
<script src="bower_components/showdown/src/showdown.js"></script>
<script src="bower_components/angular-markdown-directive/markdown.js"></script>
<!-- endbower -->
<script src="scripts/vendor/faker.js"></script>
<!-- endbuild -->


<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/race-day-fpv.js"></script>
<script src="scripts/index-ctrl.js"></script>
<!--<script src="scripts/service/user-service.js"></script>-->
<!--<script src="scripts/service/event-service.js"></script>-->
<script src="scripts/service/session-service.js"></script>
<script src="scripts/service/auth-service.js"></script>
<script src="scripts/service/event.js"></script>
<script src="scripts/service/user.js"></script>
<script src="scripts/service/pilot.js"></script>
<script src="scripts/service/raceGroup.js"></script>
<script src="scripts/service/frequency.js"></script>
<script src="scripts/service/rdf-dateUtil.js"></script>
<script src="scripts/directive/event-card.js"></script>
<script src="scripts/directive/logged-in.js"></script>
<script src="scripts/directive/my-item.js"></script>
<script src="scripts/controller/home-ctrl.js"></script>
<script src="scripts/controller/me-ctrl.js"></script>
<script src="scripts/controller/events/events-upcoming-ctrl.js"></script>
<script src="scripts/controller/events/events-past-ctrl.js"></script>
<script src="scripts/controller/events/event-add-ctrl.js"></script>
<script src="scripts/controller/events/event-edit-ctrl.js"></script>
<script src="scripts/controller/events/event-ctrl.js"></script>
<script src="scripts/controller/events/event-start-ctrl.js"></script>
<script src="scripts/controller/pilots/pilots-ctrl.js"></script>
<script src="scripts/controller/pilots/pilot-edit-ctrl.js"></script>
<script src="scripts/controller/manage/manage-ctrl.js"></script>
<script src="scripts/controller/manage/frequencies-ctrl.js"></script>
<!-- endbuild -->

</body>
</html>
