<div ng-controller="FrequenciesCtrl as ctrl">
	<p>
		<a class="btn btn-primary" ng-click="ctrl.addFreq()"><i class="fa fa-plus"></i> New Frequency</a>
	</p>

	<div class="row">
		<div class="col-md-6" ng-repeat="freq in ctrl.frequencies">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="form-group">
							<label class="col-md-6">Frequency</label>
							<div class="col-md-6">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="eg. 5685" ng-model="freq.frequency" ng-change="ctrl.updateFreq(freq)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 }}">
									<div class="input-group-addon">MHz</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-6">Band/Ch</label>
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="eg. E2" ng-model="freq.bandChan" ng-change="ctrl.updateFreq(freq)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-6">Dip Switches (VRx 4sw)</label>
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="eg. UDDU" ng-model="freq.vrxDip4" ng-change="ctrl.updateFreq(freq)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 }}">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-md-6">Dip Switches (VTx 5sw)</label>
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="eg. DUUUD" ng-model="freq.vtxDip5" ng-change="ctrl.updateFreq(freq)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 }}">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-danger" ng-click="ctrl.deleteFreq(freq)"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
