<div ng-controller="GroupsCtrl as ctrl">
	<p>
		<a class="btn btn-primary" ng-click="ctrl.addGroup()"><i class="fa fa-plus"></i> New Group</a>
	</p>

	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="input-group" ng-repeat="group in ctrl.groups track by $index">
				<input type="text" class=" form-control" placeholder="Group Name (Group A)" ng-model="group.name" ng-change="ctrl.updateGroup(group)" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 }}">
				<div class="input-group-addon" ng-click="ctrl.deleteGroup(group)"><i class="fa fa-times-circle text-danger"></i></div>
			</div>
		</div>
	</div>
</div>
